langchain
langchain-community
langchain-ollama
langchain-openai
langgraph
python-dotenv
pydantic
pydantic-settings
duckduckgo-search
beautifulsoup4
typing-extensions
fastapi
uvicorn
requests
httpx[socks]
markdownify
tavily-python
openai
pytest
pytest-mock
sqlalchemy
tiktoken
colorama
chromadb
sentence-transformers
cloudscraper
playwright
stem
shodan
PySocks
lxml
